__pycache__
runs
old_runs
src/__pycache__
.vscode
.pytest_cache/
wandb/
configs/
src/web/server/static/runs/
visualisations/images
src/web/server/static/old_webruns

outputs/
outputs/videos/
outputs/logs/
outputs/visualizations/
videos/
checkpoints/
old_checkpoints/
important_checkpoints/